Inputs/All order-2024-05-20-16_03.csv
Inputs/all_20240511210000_20240518205959.csv
Inputs/TikTok Shop US Product Lists.xlsx
Inputs/transactions_history (1).xlsx
Inputs/Video Performance List_20240520200916.xlsx
Outputs/TikTok Processor.xlsx
